<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://twitch10webapitest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>twitch10webapitest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Twitch10WebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Twitch10WebApiTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="twitch10dblocalhostEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=twitch10.database.windows.net;Initial Catalog=twitch10db;Persist Security Info=True;User ID=twitch10admin;Password=12GL34a56DOS78" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApi.twitch10dblocalhostEntities1, WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="localdb" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PROPC;Initial Catalog=twitch10dblocalhost;Integrated Security=True;Pooling=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\localdb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PROPC;Initial Catalog=twitch10dblocalhost;Integrated Security=True;Pooling=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="twitch10dbEntities1" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApi.twitch10dbEntities1, WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)localdb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)twitch10dbEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)twitch10dblocalhostEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/databaseModel.csdl|res://*/databaseModel.ssdl|res://*/databaseModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=twitch10.database.windows.net;Initial Catalog=twitch10db;Persist Security Info=True;User ID=twitch10admin;Password=12GL34a56DOS78"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>